#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.App{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.hidden-section {
  display: none;
}

